fastapi==0.115.0
uvicorn==0.30.6
python-dotenv==1.0.1
langchain-groq
langchain
langchain-community
langchain-core
tavily-python
chromadb
pypdf
python-jose
passlib
streamlit
pydantic==2.8.2
duckduckgo-search